root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false

[samples/mime.types*]
tab_width = 8

[torrc_format.txt]
trim_trailing_whitespace = false

[curlrc-options.tsv]
indent_style = tab
indent_size  = 32
tab_width    = 32

[cube.stl]
charset = utf-8-bom
end_of_line = crlf
