# Fix language classification on GitHub.com
/samples/* linguist-documentation
*.cson     linguist-detectable

# Improve syntax highlighting of unrecognised filenames
mime.type* linguist-language=TSV

# … or filenames we've chosen to highlight for dumb reasons
torrc_format.txt linguist-language=torrc

# Fixture-specific behaviour
/samples/cube.stl -text
