# Fix language classification on GitHub.com
/samples/* linguist-documentation
*.cson     linguist-detectable

# Improve syntax highlighting of unrecognised filenames
mime.type* linguist-language=TSV

# Fixture-specific behaviour
/samples/cube.stl -text
