name: ".env"
scopeName: "source.dotenv"
patterns: [include: "#main"]
fileTypes: [
	"env"
	"env.example"
	"env.local"
	"env.test"
	"env.development"
	"env.production"
	"env.staging"
	"env.development.local"
	"env.production.local"
	"env.test.local"
]
firstLineMatch: """(?x)

	# Emacs modeline
	-\\*-(?i:[ \\t]*(?=[^:;\\s]+[ \\t]*-\\*-)|(?:.*?[ \\t;]|(?<=-\\*-))[ \\t]*mode[ \\t]*:[ \\t]*)
		(?i:dotenv)
	(?=[ \\t;]|(?<![-*])-\\*-).*?-\\*-
	
	|
	
	# Vim modeline
	(?:(?:^|[ \\t])(?:vi|Vi(?=m))(?:m[<=>]?[0-9]+|m)?|[ \\t]ex)(?=:(?=[ \\t]*set?[ \\t][^\\r\\n:]+:)|:(?![ \\t]*set?[ \\t]))
	(?:(?:[ \\t]*:[ \\t]*|[ \\t])\\w*(?:[ \\t]*=(?:[^\\\\\\s]|\\\\.)*)?)*[ \\t:]
	(?:filetype|ft|syntax)[ \\t]*=
		(?i:dotenv)
	(?=$|\\s|:)
"""

injections:
	"source.dotenv meta.field.rhs string - string.quoted.single":
		patterns: [{
			# ${VARIABLE}
			name:  "source.shell.embedded.dotenv"
			match: "(?<!\\\\)(\\${)(.*?)(?<!\\\\)(})"
			captures:
				1: name: "punctuation.section.embedded.begin.dotenv"
				2: name: "constant.language.environment.variable.dotenv"
				3: name: "punctuation.section.embedded.end.dotenv"
		},{
			# $VARIABLE
			name: "entity.name.variable.dotenv"
			match: "(?<!\\\\)(\\$)[a-zA-Z0-9_]+"
			captures:
				1: name: "punctuation.definition.variable.dotenv"
		},{
			# $(sh -c ommands)
			name:  "source.shell.embedded.dotenv"
			match: "(?<!\\\\)(\\$\\()(.*?)(?<!\\\\)(\\))"
			captures:
				1: name: "punctuation.section.embedded.begin.dotenv"
				2: patterns: [include: "source.shell"]
				3: name: "punctuation.section.embedded.end.dotenv"
		}]

repository:
	main:
		patterns: [
			{include: "#comment"}
			{include: "#field"}
		]

	# Comments
	comment:
		name:  "comment.line.number-sign.dotenv"
		begin: "#"
		end:   "$"
		beginCaptures:
			0: name: "punctuation.definition.comment.dotenv"


	# Shell-like variable assignments, except with more generous whitespace handling
	field:
		name:  "meta.field.dotenv"
		begin: "^(([ \\t]*)(?:(export)\\s+)?([-\\w.]+)\\s*)(=|:)"
		end:   "(?!\\G)"
		beginCaptures:
			1: name: "meta.field.lhs.dotenv"
			2: name: "punctuation.whitespace.leading.field.dotenv"
			3: name: "storage.modifier.export.dotenv"
			4: name: "variable.assignment.environment.dotenv"
			5: name: "keyword.operator.assignment.key-value.dotenv"
		contentName: "meta.field.rhs.dotenv"
		patterns: [{
			# EMPTY =
			name: "punctuation.whitespace.trailing.empty-value.dotenv"
			match: "\\G[ \\t]+$"
		},{
			# QUOTED_STRING = "Foo\nBar"
			begin: "\\G[ \\t]*(?=[\"'`])"
			end:   "(?!\\G)"
			patterns: [include: "#strings"]
		},{
			# UNQUOTED = Literally anything that doesn't start with a quote
			contentName: "string.unquoted.field.dotenv"
			begin: "\\G[ \\t]*(?!\"|')(?=[^#\\s])"
			end:   "([ \\t]*)(?=$|#)"
			endCaptures:
				1: name: "punctuation.whitespace.trailing.dotenv"
		}]


	# Impartially-quoted values (i.e., no trailing whitespace after terminating quote)
	strings:
		patterns: [
			{include: "#stringDoubleQuoted"}
			{include: "#stringSingleQuoted"}
			{include: "#stringBackticks"}
		]


	# "Double-quoted"
	stringDoubleQuoted:
		name:  "string.quoted.double.dotenv"
		begin: '\\G"'
		end:   '"'
		beginCaptures: 0: name: "punctuation.definition.string.begin.dotenv"
		endCaptures:   0: name: "punctuation.definition.string.end.dotenv"
		patterns: [{
			# Embedded newline
			name: "constant.character.escape.newline.dotenv"
			match: "(\\\\)n"
			captures:
				1: name: "punctuation.definition.escape.backslash.dotenv"
		},{
			# Literal double-quote
			name: "constant.character.escape.quote.dotenv"
			match: '(\\\\)"'
			captures:
				1: name: "punctuation.definition.escape.backslash.dotenv"
		}]


	# 'Single-quoted string'
	stringSingleQuoted:
		name:  "string.quoted.single.dotenv"
		begin: "\\G'"
		end:   "'"
		beginCaptures: 0: name: "punctuation.definition.string.begin.dotenv"
		endCaptures:   0: name: "punctuation.definition.string.end.dotenv"
		patterns: [{
			# Literal single-quote
			name: "constant.character.escape.quote.dotenv"
			match: "(\\\\)'"
			captures:
				1: name: "punctuation.definition.escape.backslash.dotenv"
		}]


	# `Backticked string` (analogous to single-quotes)
	stringBackticks:
		name:  "string.quoted.backticks.dotenv"
		begin: "\\G`"
		end:   "`"
		beginCaptures: 0: name: "punctuation.definition.string.begin.dotenv"
		endCaptures:   0: name: "punctuation.definition.string.end.dotenv"
		patterns: [{
			# Literal backtick
			name: "constant.character.escape.quote.dotenv"
			match: "(\\\\)`"
			captures:
				1: name: "punctuation.definition.escape.backslash.dotenv"
		}]
