name: ".gitignore"
scopeName: "source.gitignore"
fileTypes: [
	"gitignore"
	"git/ignore"
	"git/info/exclude"
	"gitignore-global"
	"gitignore_global"
	"gitignore.global"
	"sparse-checkout"
	
	# Mutually-compatible formats
	"alexignore"
	"atomignore"
	"babelignore"
	"coffeelintignore"
	"dockerignore"
	"eslintignore"
	"nodemonignore"
	"npmignore"
	"prettierignore"
	"stylelintignore"
	"vscodeignore"
	
	# Almost-compatible formats (syntax doesn't conflict with Git)
	"bazaar/ignore"
	"bzrignore"
	"cpyskip.txt"
	"cvsignore"
	"slugignore"
]
patterns: [include: "#main"]
firstLineMatch: """(?ix)

	# Emacs modeline
	-\\*-(?:\\s*(?=[^:;\\s]+\\s*-\\*-)|(?:.*?[;\\s]|(?<=-\\*-))mode\\s*:\\s*)
		git-?ignore
	(?=[\\s;]|(?<![-*])-\\*-).*?-\\*-
	
	|
		
	# Vim modeline
	(?:(?:\\s|^)vi(?:m[<=>]?\\d+|m)?|\\sex)(?=:(?=\\s*set?\\s[^\\n:]+:)|:(?!\\s* set?\\s))(?:(?:\\s|\\s*:\\s*)\\w*(?:\\s*=(?:[^\\n\\\\\\s]|\\\\.)*)?)*[\\s:](?:filetype|ft|syntax)\\s*=
		git-?ignore
	(?=\\s|:|$)
"""

repository:
	main:
		patterns: [
			{include: "#comment"}
			{include: "#cvsSyntax"}
			{include: "#pattern"}
			{include: "#escape"}
		]

	# GNU Bazaar-specific syntax (not used by Git)
	# - # http://doc.bazaar.canonical.com/beta/en/user-reference/ignore-help.html
	bazaarPrefixes:
		patterns: [{
			# — “To ignore patterns that begin with [#], use the “RE:” prefix”
			name:  "storage.modifier.bazaar.re-prefix.gitignore"
			match: "^RE(:)(?=\\S)"
		},{
			# — “Patterns prefixed with ‘!!’ act as regular ignore patterns,
			#    but have precedence over the ‘!’ exception patterns.”
			name: "keyword.operator.logical.not.negation.elevated.bazaar.gitignore"
			match: "^!!(?=\\S)"
		}]

	# Comment line
	comment:
		name:  "comment.line.number-sign.gitignore"
		begin: "#"
		end:   "$"
		beginCaptures:
			0: name: "punctuation.definition.comment.gitignore"
	
	# CVS-specific syntax header
	cvsSyntax:
		match: "\\A(syntax)(:)\\s+(glob)$"
		captures:
			1: name: "variable.parameter.assignment.glob-syntax.cvs.gitignore"
			2: name: "keyword.operator.assignment.separator.key-value.cvs.gitignore"
			3: name: "support.constant.language.syntax-type.cvs.gitignore"
	
	# Escaped character
	escape:
		name: "constant.character.escape.backslash.gitignore"
		match: "(\\\\)."
		captures:
			1: name: "punctuation.definition.escape.backslash.gitignore"
		
	# File pattern
	pattern:
		name:  "meta.pattern.gitignore"
		begin: "(?=[^#\\s])"
		end:   "$|(?=#)"
		patterns: [
			{include: "#bazaarPrefixes"}
			{include: "#patternInnards"}
		]

	# Stuff matched inside file patterns
	patternInnards:
		patterns: [
			{include: "#escape"}
			{include: "#range"}
			{match: "\\G!",   name: "keyword.operator.logical.not.negation.gitignore"}
			{match: "\\*\\*", name: "keyword.operator.glob.wildcard.globstar.gitignore"}
			{match: "[*?]",   name: "keyword.operator.glob.wildcard.gitignore"}
			{match: "/",      name: "punctuation.directory.separator.meta.gitignore"}
			
			# Literal characters
			name: "entity.other.file.name.gitignore"
			match: "[^\\[\\]\\\\*?#/\\s]+"
		]

	# Character range: [a-z]
	range:
		name:  "meta.character-range.gitignore"
		begin: "\\["
		end:   "\\]|(?=$)"
		beginCaptures: 0: name: "punctuation.definition.square.bracket.begin.gitignore"
		endCaptures:   0: name: "punctuation.definition.square.bracket.end.gitignore"
		contentName: "constant.character.class.gitignore"
		patterns: [
			{include: "#escape"}
			
			# Range separators
			name: "punctuation.delimiter.range.character-set.gitignore"
			match: "-"
		]
