name: "Hosts file"
scopeName: "source.hosts"
fileTypes: ["hosts", "hosts.txt"]
patterns: [include: "#main"]

repository:
	main:
		patterns: [
			{include: "etc#comment"}
			{include: "etc#ip"}
			{include: "#loopback"}
			{include: "#host"}
		]
	
	# Compressed form of IPv6's loopback address
	loopback:
		name: "constant.numeric.other.ip-address"
		match: "(?<=\\s|^)(::)1(?=$|\\s)"
		captures:
			1: name: "punctuation.definition.ip-address.loopback"

	# Human-friendly hostname
	host:
		name: "entity.name.host.domain.hosts"
		match: "(?<=\\s|^)[^:\\s#][^\\s#]*"
		captures:
			0: patterns: [include: "etc#dot"]
