name: "Hosts file"
scopeName: "source.hosts"
fileTypes: ["hosts"]
patterns: [include: "#main"]

repository:
	main:
		patterns: [
			{include: "etc#comment"}
			{include: "etc#ip"}
			{include: "#loopback"}
			{include: "#host"}
			{include: "#ip"}
		]
	
	# Compressed form of IPv6's loopback address
	loopback:
		name: "constant.numeric.other.ip-address"
		match: "(?<=\\s|^)(::)1(?=$|\\s)"
		captures:
			1: name: "punctuation.definition.ip-address.loopback"

	# Human-friendly hostname
	host:
		name: "entity.name.host.domain.hosts"
		match: "(?<=\\s|^)[^:\\s#][^\\s#]*"
		captures:
			0: patterns: [include: "etc#dot"]

	# Marking IP addresses with the "keyword" GitHub CSS color
	ip:
		name: "keyword.numeric.host.ip.hosts"
		match: "^(((\d\d?|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d\d?|1\d\d|2[0-4]\d|25[0-5])|([0-9a-f]{1,})?:([0-9a-f]{1,})?:([0-9a-f:]{1,29})?)\s"
		captures:
			1: name: "keyword.control.ip"
