scopeName: "injections.etc"
injectionSelector: "comment, text.plain"
patterns: [{
	# Flag “pin-hacks” used in TextMate grammars
	name:  "storage.type.class.${1:/downcase}"
	match: "(?<!\\w)@?(PINHACK)\\b"
}]
