# YouTube's rebarbative prose format, used in comments and video/channel descriptions.
# Reference: https://support.google.com/youtube/answer/6000964#zippy=%2Cadd-formatting-to-comments
name: "YouTube Rich Text"
scopeName: "text.youtube"
fileTypes: ["youtube-text"] # Bogus filetype
patterns: [include: "#main"]

repository:
	main:
		patterns: [
			{include: "#timecode"}
			{include: "#hashtag"}
			{include: "#mention"}
			{include: "#url"}
			{include: "#bold"}
			{include: "#italic"}
			{include: "#strikethrough"}
		]


	# *Bold text*
	bold:
		name: "markup.bold.emphasis.strong.youtube"
		match: "(?:\\G|^|(?<=\\s))(\\*)(?=\\S)(.+?)(?<=\\S)(\\*)(?=$|\\s)"
		captures:
			1: name: "punctuation.definition.markup.bold.begin.youtube"
			2: patterns: [include: "#main"]
			3: name: "punctuation.definition.markup.bold.end.youtube"


	# Twitter Litter
	hashtag:
		name: "constant.other.hashtag.youtube"
		match: "(#)\\w+"
		captures:
			1: name: "punctuation.definition.hashtag.youtube"


	# _Italicised text_
	italic:
		name: "markup.italic.emphasis.youtube"
		match: "(?:\\G|^|(?<=\\s))(_)(?=\\S)(.+?)(?<=\\S)(_)(?=$|\\s)"
		captures:
			1: name: "punctuation.definition.markup.italic.begin.youtube"
			2: patterns: [include: "#main"]
			3: name: "punctuation.definition.markup.italic.end.youtube"


	# @username mention
	# XXX: Channel names can support whitespace, so there's no way to support this in full
	mention:
		name: "constant.other.mention.youtube"
		match: "(?:\\G|^|(?<=\\s))(@)[-.\\w]+(?=$|\\s)"
		captures:
			1: name: "punctuation.definition.mention.youtube"


	# -Strikethrough effect-
	strikethrough:
		name: "markup.deleted.strike.strikeout.youtube"
		match: "(?:\\G|^|(?<=\\s))(-)(?=\\S)(.+?)(?<=\\S)(-)(?=$|\\s)"
		captures:
			1: name: "punctuation.definition.markup.strike.begin.youtube"
			2: patterns: [include: "#main"]
			3: name: "punctuation.definition.markup.strike.end.youtube"


	# Video timecode: [HH:]MM:SS
	timecode:
		name: "constant.numeric.timecode.youtube"
		match: "(?:\\b(\\d+)(:))?([0-5][0-9])(:)([0-5][0-9])(?!:|\\d)"
		captures:
			1: name: "constant.numeric.time.unit.hour.youtube"
			3: name: "constant.numeric.time.unit.minute.youtube"
			5: name: "constant.numeric.time.unit.seconds.youtube"
			2: patterns: [include: "etc#colon"]
			4: patterns: [include: "etc#colon"]


	# Hyperlinked URLs
	url:
		patterns: [
			{include: "#url-short"}
			{include: "#url-long"}
		]


	# HTTP or HTTPS address
	"url-long":
		name: "constant.other.reference.link.long-url.youtube"
		match: "https?:(?://)?\\S+"


	# Protocol-less URL (e.g., “google.com”)
	"url-short":
		name: "constant.other.reference.link.short-url.youtube"
		match: """(?xi)
			# Hostname
			(?:[^\\s.]+\\.)* \\w[-\\w]* \\.

			# Top-level domain list (as of 2022-09-22)
			# - Source: https://data.iana.org/TLD/tlds-alpha-by-domain.txt
			(?! ss\\b) # South Sudan TLD not supported yet
			( aaa
			| aarp
			| abarth
			| abbott
			| abbvie
			| abb
			| abc
			| able
			| abogado
			| abudhabi
			| academy
			| accenture
			| accountants
			| accountant
			| aco
			| actor
			| ac
			| adac
			| ads
			| adult
			| ad
			| aeg
			| aero
			| aetna
			| ae
			| afl
			| africa
			| af
			| agakhan
			| agency
			| ag
			| aig
			| airbus
			| airforce
			| airtel
			| ai
			| akdn
			| alfaromeo
			| alibaba
			| alipay
			| allfinanz
			| allstate
			| ally
			| alsace
			| alstom
			| al
			| amazon
			| americanexpress
			| americanfamily
			| amex
			| amfam
			| amica
			| amsterdam
			| am
			| analytics
			| android
			| anquan
			| anz
			| aol
			| ao
			| apartments
			| apple
			| app
			| aquarelle
			| aq
			| arab
			| aramco
			| archi
			| army
			| arpa
			| arte
			| art
			| ar
			| asda
			| asia
			| associates
			| as
			| athleta
			| attorney
			| at
			| auction
			| audible
			| audio
			| audi
			| auspost
			| author
			| autos
			| auto
			| au
			| avianca
			| aws
			| aw
			| axa
			| ax
			| azure
			| az
			| baby
			| baidu
			| banamex
			| bananarepublic
			| band
			| bank
			| barcelona
			| barclaycard
			| barclays
			| barefoot
			| bargains
			| bar
			| baseball
			| basketball
			| bauhaus
			| bayern
			| ba
			| bbc
			| bbt
			| bbva
			| bb
			| bcg
			| bcn
			| bd
			| beats
			| beauty
			| beer
			| bentley
			| berlin
			| bestbuy
			| best
			| bet
			| be
			| bf
			| bg
			| bharti
			| bh
			| bible
			| bid
			| bike
			| bingo
			| bing
			| bio
			| biz
			| bi
			| bj
			| blackfriday
			| black
			| blockbuster
			| blog
			| bloomberg
			| blue
			| bms
			| bmw
			| bm
			| bnpparibas
			| bn
			| boats
			| boehringer
			| bofa
			| bom
			| bond
			| booking
			| book
			| boo
			| bosch
			| bostik
			| boston
			| bot
			| boutique
			| box
			| bo
			| bradesco
			| bridgestone
			| broadway
			| broker
			| brother
			| brussels
			| br
			| bs
			| bt
			| bugatti
			| builders
			| build
			| business
			| buy
			| buzz
			| bv
			| bw
			| by
			| bzh
			| bz
			| cab
			| cafe
			| call
			| calvinklein
			| cal
			| camera
			| camp
			| cam
			| cancerresearch
			| canon
			| capetown
			| capitalone
			| capital
			| caravan
			| cards
			| careers
			| career
			| care
			| cars
			| car
			| casa
			| case
			| cash
			| casino
			| catering
			| catholic
			| cat
			| ca
			| cba
			| cbn
			| cbre
			| cbs
			| cc
			| cd
			| center
			| ceo
			| cern
			| cfa
			| cfd
			| cf
			| cg
			| chanel
			| channel
			| charity
			| chase
			| chat
			| cheap
			| chintai
			| christmas
			| chrome
			| church
			| ch
			| cipriani
			| circle
			| cisco
			| citadel
			| citic
			| citi
			| cityeats
			| city
			| ci
			| ck
			| claims
			| cleaning
			| click
			| clinic
			| clinique
			| clothing
			| cloud
			| clubmed
			| club
			| cl
			| cm
			| cn
			| coach
			| codes
			| coffee
			| college
			| cologne
			| comcast
			| commbank
			| community
			| company
			| compare
			| computer
			| comsec
			| com
			| condos
			| construction
			| consulting
			| contact
			| contractors
			| cookingchannel
			| cooking
			| cool
			| coop
			| corsica
			| country
			| coupons
			| coupon
			| courses
			| co
			| cpa
			| creditcard
			| creditunion
			| credit
			| cricket
			| crown
			| crs
			| cruises
			| cruise
			| cr
			| cuisinella
			| cu
			| cv
			| cw
			| cx
			| cymru
			| cyou
			| cy
			| cz
			| dabur
			| dad
			| dance
			| data
			| date
			| dating
			| datsun
			| day
			| dclk
			| dds
			| dealer
			| deals
			| deal
			| degree
			| delivery
			| dell
			| deloitte
			| delta
			| democrat
			| dental
			| dentist
			| design
			| desi
			| dev
			| de
			| dhl
			| diamonds
			| diet
			| digital
			| directory
			| direct
			| discount
			| discover
			| dish
			| diy
			| dj
			| dk
			| dm
			| dnp
			| docs
			| doctor
			| dog
			| domains
			| dot
			| download
			| do
			| drive
			| dtv
			| dubai
			| dunlop
			| dupont
			| durban
			| dvag
			| dvr
			| dz
			| earth
			| eat
			| eco
			| ec
			| edeka
			| education
			| edu
			| ee
			| eg
			| email
			| emerck
			| energy
			| engineering
			| engineer
			| enterprises
			| epson
			| equipment
			| ericsson
			| erni
			| er
			| esq
			| estate
			| es
			| etisalat
			| et
			| eurovision
			| eus
			| eu
			| events
			| exchange
			| expert
			| exposed
			| express
			| extraspace
			| fage
			| fail
			| fairwinds
			| faith
			| family
			| fans
			| fan
			| farmers
			| farm
			| fashion
			| fast
			| fedex
			| feedback
			| ferrari
			| ferrero
			| fiat
			| fidelity
			| fido
			| film
			| final
			| finance
			| financial
			| firestone
			| fire
			| firmdale
			| fishing
			| fish
			| fitness
			| fit
			| fi
			| fj
			| fk
			| flickr
			| flights
			| flir
			| florist
			| flowers
			| fly
			| fm
			| foodnetwork
			| food
			| football
			| foo
			| ford
			| forex
			| forsale
			| forum
			| foundation
			| fox
			| fo
			| free
			| fresenius
			| frl
			| frogans
			| frontdoor
			| frontier
			| fr
			| ftr
			| fujitsu
			| fund
			| fun
			| furniture
			| futbol
			| fyi
			| gallery
			| gallo
			| gallup
			| gal
			| games
			| game
			| gap
			| garden
			| gay
			| ga
			| gbiz
			| gb
			| gdn
			| gd
			| gea
			| genting
			| gent
			| george
			| ge
			| gf
			| ggee
			| gg
			| gh
			| gifts
			| gift
			| gives
			| giving
			| gi
			| glass
			| gle
			| global
			| globo
			| gl
			| gmail
			| gmbh
			| gmo
			| gmx
			| gm
			| gn
			| godaddy
			| goldpoint
			| gold
			| golf
			| goodyear
			| google
			| goog
			| goo
			| gop
			| got
			| gov
			| gp
			| gq
			| grainger
			| graphics
			| gratis
			| green
			| gripe
			| grocery
			| group
			| gr
			| gs
			| gt
			| guardian
			| gucci
			| guge
			| guide
			| guitars
			| guru
			| gu
			| gw
			| gy
			| hair
			| hamburg
			| hangout
			| haus
			| hbo
			| hdfcbank
			| hdfc
			| healthcare
			| health
			| help
			| helsinki
			| here
			| hermes
			| hgtv
			| hiphop
			| hisamitsu
			| hitachi
			| hiv
			| hkt
			| hk
			| hm
			| hn
			| hockey
			| holdings
			| holiday
			| homedepot
			| homegoods
			| homesense
			| homes
			| honda
			| horse
			| hospital
			| hosting
			| host
			| hoteles
			| hotels
			| hotmail
			| hot
			| house
			| how
			| hr
			| hsbc
			| ht
			| hughes
			| hu
			| hyatt
			| hyundai
			| ibm
			| icbc
			| ice
			| icu
			| id
			| ieee
			| ie
			| ifm
			| ikano
			| il
			| imamat
			| imdb
			| immobilien
			| immo
			| im
			| inc
			| industries
			| infiniti
			| info
			| ing
			| ink
			| institute
			| insurance
			| insure
			| international
			| intuit
			| int
			| investments
			| in
			| io
			| ipiranga
			| iq
			| irish
			| ir
			| ismaili
			| istanbul
			| ist
			| is
			| itau
			| itv
			| it
			| jaguar
			| java
			| jcb
			| jeep
			| jetzt
			| jewelry
			| je
			| jio
			| jll
			| jmp
			| jm
			| jnj
			| jobs
			| joburg
			| jot
			| joy
			| jo
			| jpmorgan
			| jprs
			| jp
			| juegos
			| juniper
			| kaufen
			| kddi
			| kerryhotels
			| kerrylogistics
			| kerryproperties
			| ke
			| kfh
			| kg
			| kh
			| kia
			| kids
			| kim
			| kinder
			| kindle
			| kitchen
			| kiwi
			| ki
			| km
			| kn
			| koeln
			| komatsu
			| kosher
			| kpmg
			| kpn
			| kp
			| krd
			| kred
			| kr
			| kuokgroup
			| kw
			| kyoto
			| ky
			| kz
			| lacaixa
			| lamborghini
			| lamer
			| lancaster
			| lancia
			| landrover
			| land
			| lanxess
			| lasalle
			| latino
			| latrobe
			| lat
			| lawyer
			| law
			| la
			| lb
			| lc
			| lds
			| lease
			| leclerc
			| lefrak
			| legal
			| lego
			| lexus
			| lgbt
			| lidl
			| lifeinsurance
			| lifestyle
			| life
			| lighting
			| like
			| lilly
			| limited
			| limo
			| lincoln
			| linde
			| link
			| lipsy
			| live
			| living
			| li
			| lk
			| llc
			| llp
			| loans
			| loan
			| locker
			| locus
			| loft
			| lol
			| london
			| lotte
			| lotto
			| love
			| lplfinancial
			| lpl
			| lr
			| ls
			| ltda
			| ltd
			| lt
			| lundbeck
			| luxe
			| luxury
			| lu
			| lv
			| ly
			| macys
			| madrid
			| maif
			| maison
			| makeup
			| management
			| mango
			| man
			| map
			| marketing
			| markets
			| market
			| marriott
			| marshalls
			| maserati
			| mattel
			| ma
			| mba
			| mckinsey
			| mc
			| md
			| media
			| med
			| meet
			| melbourne
			| meme
			| memorial
			| menu
			| men
			| merckmsd
			| me
			| mg
			| mh
			| miami
			| microsoft
			| mil
			| mini
			| mint
			| mitsubishi
			| mit
			| mk
			| mlb
			| mls
			| ml
			| mma
			| mm
			| mn
			| mobile
			| mobi
			| moda
			| moe
			| moi
			| mom
			| monash
			| money
			| monster
			| mormon
			| mortgage
			| moscow
			| motorcycles
			| moto
			| movie
			| mov
			| mo
			| mp
			| mq
			| mr
			| msd
			| ms
			| mtn
			| mtr
			| mt
			| museum
			| music
			| mutual
			| mu
			| mv
			| mw
			| mx
			| my
			| mz
			| nab
			| nagoya
			| name
			| natura
			| navy
			| na
			| nba
			| nc
			| nec
			| netbank
			| netflix
			| network
			| net
			| neustar
			| news
			| new
			| nextdirect
			| next
			| nexus
			| ne
			| nfl
			| nf
			| ngo
			| ng
			| nhk
			| nico
			| nike
			| nikon
			| ninja
			| nissan
			| nissay
			| ni
			| nl
			| nokia
			| northwesternmutual
			| norton
			| nowruz
			| nowtv
			| now
			| no
			| np
			| nra
			| nrw
			| nr
			| ntt
			| nu
			| nyc
			| nz
			| obi
			| observer
			| office
			| okinawa
			| olayangroup
			| olayan
			| oldnavy
			| ollo
			| omega
			| om
			| one
			| ong
			| online
			| onl
			| ooo
			| open
			| oracle
			| orange
			| organic
			| org
			| origins
			| osaka
			| otsuka
			| ott
			| ovh
			| page
			| panasonic
			| paris
			| pars
			| partners
			| parts
			| party
			| passagens
			| pay
			| pa
			| pccw
			| pet
			| pe
			| pfizer
			| pf
			| pg
			| pharmacy
			| phd
			| philips
			| phone
			| photography
			| photos
			| photo
			| physio
			| ph
			| pics
			| pictet
			| pictures
			| pid
			| ping
			| pink
			| pin
			| pioneer
			| pizza
			| pk
			| place
			| playstation
			| play
			| plumbing
			| plus
			| pl
			| pm
			| pnc
			| pn
			| pohl
			| poker
			| politie
			| porn
			| post
			| pramerica
			| praxi
			| press
			| prime
			| productions
			| prod
			| prof
			| progressive
			| promo
			| properties
			| property
			| protection
			| pro
			| prudential
			| pru
			| pr
			| ps
			| pt
			| pub
			| pwc
			| pw
			| py
			| qa
			| qpon
			| quebec
			| quest
			| racing
			| radio
			| read
			| realestate
			| realtor
			| realty
			| recipes
			| redstone
			| redumbrella
			| red
			| rehab
			| reisen
			| reise
			| reit
			| reliance
			| rentals
			| rent
			| ren
			| repair
			| report
			| republican
			| restaurant
			| rest
			| reviews
			| review
			| rexroth
			| re
			| richardli
			| rich
			| ricoh
			| ril
			| rio
			| rip
			| rocher
			| rocks
			| rodeo
			| rogers
			| room
			| ro
			| rsvp
			| rs
			| rugby
			| ruhr
			| run
			| ru
			| rwe
			| rw
			| ryukyu
			| saarland
			| safety
			| safe
			| sakura
			| sale
			| salon
			| samsclub
			| samsung
			| sandvikcoromant
			| sandvik
			| sanofi
			| sap
			| sarl
			| sas
			| save
			| saxo
			| sa
			| sbi
			| sbs
			| sb
			| sca
			| scb
			| schaeffler
			| schmidt
			| scholarships
			| school
			| schule
			| schwarz
			| science
			| scot
			| sc
			| sd
			| search
			| seat
			| secure
			| security
			| seek
			| select
			| sener
			| services
			| ses
			| seven
			| sew
			| sexy
			| sex
			| se
			| sfr
			| sg
			| shangrila
			| sharp
			| shaw
			| shell
			| shia
			| shiksha
			| shoes
			| shopping
			| shop
			| shouji
			| showtime
			| show
			| sh
			| silk
			| sina
			| singles
			| site
			| si
			| sj
			| skin
			| ski
			| skype
			| sky
			| sk
			| sling
			| sl
			| smart
			| smile
			| sm
			| sncf
			| sn
			| soccer
			| social
			| softbank
			| software
			| sohu
			| solar
			| solutions
			| song
			| sony
			| soy
			| so
			| space
			| spa
			| sport
			| spot
			| srl
			| sr
			| ss
			| stada
			| staples
			| star
			| statebank
			| statefarm
			| stcgroup
			| stc
			| stockholm
			| storage
			| store
			| stream
			| studio
			| study
			| style
			| st
			| sucks
			| supplies
			| supply
			| support
			| surf
			| surgery
			| suzuki
			| su
			| sv
			| swatch
			| swiss
			| sx
			| sydney
			| systems
			| sy
			| sz
			| tab
			| taipei
			| talk
			| taobao
			| target
			| tatamotors
			| tatar
			| tattoo
			| taxi
			| tax
			| tci
			| tc
			| tdk
			| td
			| team
			| technology
			| tech
			| tel
			| temasek
			| tennis
			| teva
			| tf
			| tg
			| thd
			| theater
			| theatre
			| th
			| tiaa
			| tickets
			| tienda
			| tiffany
			| tips
			| tires
			| tirol
			| tjmaxx
			| tjx
			| tj
			| tkmaxx
			| tk
			| tl
			| tmall
			| tm
			| tn
			| today
			| tokyo
			| tools
			| top
			| toray
			| toshiba
			| total
			| tours
			| town
			| toyota
			| toys
			| to
			| trade
			| trading
			| training
			| travelchannel
			| travelersinsurance
			| travelers
			| travel
			| trust
			| trv
			| tr
			| tt
			| tube
			| tui
			| tunes
			| tushu
			| tvs
			| tv
			| tw
			| tz
			| ua
			| ubank
			| ubs
			| ug
			| uk
			| unicom
			| university
			| uno
			| uol
			| ups
			| us
			| uy
			| uz
			| vacations
			| vana
			| vanguard
			| va
			| vc
			| vegas
			| ventures
			| verisign
			| versicherung
			| vet
			| ve
			| vg
			| viajes
			| video
			| vig
			| viking
			| villas
			| vin
			| vip
			| virgin
			| visa
			| vision
			| viva
			| vivo
			| vi
			| vlaanderen
			| vn
			| vodka
			| volkswagen
			| volvo
			| vote
			| voting
			| voto
			| voyage
			| vuelos
			| vu
			| wales
			| walmart
			| walter
			| wanggou
			| wang
			| watches
			| watch
			| weatherchannel
			| weather
			| webcam
			| weber
			| website
			| wedding
			| wed
			| weibo
			| weir
			| wf
			| whoswho
			| wien
			| wiki
			| williamhill
			| windows
			| wine
			| winners
			| win
			| wme
			| wolterskluwer
			| woodside
			| works
			| work
			| world
			| wow
			| ws
			| wtc
			| wtf
			| xbox
			| xerox
			| xfinity
			| xihuan
			| xin
			| xn--11b4c3d
			| xn--1ck2e1b
			| xn--1qqw23a
			| xn--2scrj9c
			| xn--30rr7y
			| xn--3bst00m
			| xn--3ds443g
			| xn--3e0b707e
			| xn--3hcrj9c
			| xn--3pxu8k
			| xn--42c2d9a
			| xn--45br5cyl
			| xn--45brj9c
			| xn--45q11c
			| xn--4dbrk0ce
			| xn--4gbrim
			| xn--54b7fta0cc
			| xn--55qw42g
			| xn--55qx5d
			| xn--5su34j936bgsg
			| xn--5tzm5g
			| xn--6frz82g
			| xn--6qq986b3xl
			| xn--80adxhks
			| xn--80ao21a
			| xn--80aqecdr1a
			| xn--80asehdb
			| xn--80aswg
			| xn--8y0a063a
			| xn--90a3ac
			| xn--90ae
			| xn--90ais
			| xn--9dbq2a
			| xn--9et52u
			| xn--9krt00a
			| xn--b4w605ferd
			| xn--bck1b9a5dre4c
			| xn--c1avg
			| xn--c2br7g
			| xn--cck2b3b
			| xn--cckwcxetd
			| xn--cg4bki
			| xn--clchc0ea0b2g2a9gcd
			| xn--czr694b
			| xn--czrs0t
			| xn--czru2d
			| xn--d1acj3b
			| xn--d1alf
			| xn--e1a4c
			| xn--eckvdtc9d
			| xn--efvy88h
			| xn--fct429k
			| xn--fhbei
			| xn--fiq228c5hs
			| xn--fiq64b
			| xn--fiqs8s
			| xn--fiqz9s
			| xn--fjq720a
			| xn--flw351e
			| xn--fpcrj9c3d
			| xn--fzc2c9e2c
			| xn--fzys8d69uvgm
			| xn--g2xx48c
			| xn--gckr3f0f
			| xn--gecrj9c
			| xn--gk3at1e
			| xn--h2breg3eve
			| xn--h2brj9c8c
			| xn--h2brj9c
			| xn--hxt814e
			| xn--i1b6b1a6a2e
			| xn--imr513n
			| xn--io0a7i
			| xn--j1aef
			| xn--j1amh
			| xn--j6w193g
			| xn--jlq480n2rg
			| xn--jlq61u9w7b
			| xn--jvr189m
			| xn--kcrx77d1x4a
			| xn--kprw13d
			| xn--kpry57d
			| xn--kput3i
			| xn--l1acc
			| xn--lgbbat1ad8j
			| xn--mgb9awbf
			| xn--mgba3a3ejt
			| xn--mgba3a4f16a
			| xn--mgba7c0bbn0a
			| xn--mgbaakc7dvf
			| xn--mgbaam7a8h
			| xn--mgbab2bd
			| xn--mgbah1a3hjkrd
			| xn--mgbai9azgqp6j
			| xn--mgbayh7gpa
			| xn--mgbbh1a71e
			| xn--mgbbh1a
			| xn--mgbc0a9azcg
			| xn--mgbca7dzdo
			| xn--mgbcpq6gpa1a
			| xn--mgberp4a5d4ar
			| xn--mgbgu82a
			| xn--mgbi4ecexp
			| xn--mgbpl2fh
			| xn--mgbt3dhd
			| xn--mgbtx2b
			| xn--mgbx4cd0ab
			| xn--mix891f
			| xn--mk1bu44c
			| xn--mxtq1m
			| xn--ngbc5azd
			| xn--ngbe9e0a
			| xn--ngbrx
			| xn--node
			| xn--nqv7fs00ema
			| xn--nqv7f
			| xn--nyqy26a
			| xn--o3cw4h
			| xn--ogbpf8fl
			| xn--otu796d
			| xn--p1acf
			| xn--p1ai
			| xn--pgbs0dh
			| xn--pssy2u
			| xn--q7ce6a
			| xn--q9jyb4c
			| xn--qcka1pmc
			| xn--qxa6a
			| xn--qxam
			| xn--rhqv96g
			| xn--rovu88b
			| xn--rvc1e0am3e
			| xn--s9brj9c
			| xn--ses554g
			| xn--t60b56a
			| xn--tckwe
			| xn--tiq49xqyj
			| xn--unup4y
			| xn--vermgensberater-ctb
			| xn--vermgensberatung-pwb
			| xn--vhquv
			| xn--vuq861b
			| xn--w4r85el8fhu5dnra
			| xn--w4rs40l
			| xn--wgbh1c
			| xn--wgbl6a
			| xn--xhq521b
			| xn--xkc2al3hye2a
			| xn--xkc2dl3a5ee0h
			| xn--y9a3aq
			| xn--yfro4i67o
			| xn--ygbi2ammx
			| xn--zfr164b
			| xxx
			| xyz
			| yachts
			| yahoo
			| yamaxun
			| yandex
			| ye
			| yodobashi
			| yoga
			| yokohama
			| youtube
			| you
			| yt
			| yun
			| zappos
			| zara
			| za
			| zero
			| zip
			| zm
			| zone
			| zuerich
			| zw
			) \\b
			
			# Pathname component, if any
			\\S*
		"""
