".source.curlrc,
 .source.gitignore,
 .source.gitattributes,
 .source.inputrc,
 .source.nanorc,
 .source.neon,
 .source.opts,
 .source.record-jar,
 .source.sieve,
 .source.ssh-config,
 .source.wgetrc":
	editor:
		commentStart: "# "

".source.mailmap,
 .source.man-conf,
 .source.generic-db,
 .source.ucd.unidata":
	editor:
		commentStart: "# "
		tabLength: 8

".source.futhark":
	editor:
		commentStart: "-- "
	"bracket-matcher":
		autocompleteCharacters: [
			"()"
			"[]"
			"{}"
			'""'
			"``"
			"“”"
			"‘’"
			"«»"
			"‹›"
		]

".source.hosts":
	editor:
		commentStart: "# "
		tabLength: 8
		tabType: "hard"

".source.ini.npmrc":
	editor:
		commentStart: "; "

".source.smpl":
	editor:
		commentStart: "// "

".source.string-template":
	editor:
		commentStart: "<!"
		commentEnd:   "!>"

".source.string-template .meta.document.dollar-delimiters":
    editor:
        commentStart: "$!"
		commentEnd:   "!$"

".source.tags":
	editor:
		commentStart: "!_TAG_COMMENT\t"
		tabLength: 10
		tabType: "hard"

".source.ucd.nameslist":
	editor:
		commentStart: "; "
		tabLength: 8
		tabType: "hard"

".text.codeowners":
	editor:
		commentStart: "# "

".text.xml.svg":
	editor:
		commentStart: "<!--"
		commentEnd:   "-->"

".text.xml.svg, .source.embedded.xml.svg":
	editor:
		increaseIndentPattern: "<[^\\s>/]+(?=\\s|>)[^>]*(?<!/)>\\s*$"
		decreaseIndentPattern: "</[^>]+>\\s*$|^\\s*</(?i:style)\\s*>"

".source.odin-ehr":
	editor:
		commentStart: "-- "

".source.openbsd-pkg.contents":
	editor:
		commentStart: "@comment "
