".source.gitignore, .source.gitattributes, .source.nanorc, .source.opts, .source.ssh-config":
	editor:
		commentStart: "# "

".source.man-conf":
	editor:
		commentStart: "# "
		tabLength: 8

".source.ini.npmrc":
	editor:
		commentStart: "; "

".source.smpl":
	editor:
		commentStart: "// "

".text.xml.svg":
	editor:
		commentStart: "<!--"
		commentEnd:   "-->"
