".source.curlrc,
 .source.gitignore,
 .source.gitattributes,
 .source.inputrc,
 .source.nanorc,
 .source.neon,
 .source.opts,
 .source.ssh-config,
 .source.wgetrc":
	editor:
		commentStart: "# "

".source.man-conf,
 .source.generic-db":
	editor:
		commentStart: "# "
		tabLength: 8

".source.hosts":
	editor:
		commentStart: "# "
		tabLength: 8
		tabType: "hard"

".source.ini.npmrc":
	editor:
		commentStart: "; "

".source.smpl":
	editor:
		commentStart: "// "

".text.xml.svg":
	editor:
		commentStart: "<!--"
		commentEnd:   "-->"

".text.xml.svg, .source.embedded.xml.svg":
	editor:
		increaseIndentPattern: "<[^\\s>/]+(?=\\s|>)[^>]*(?<!/)>\\s*$"
		decreaseIndentPattern: "</[^>]+>\\s*$|^\\s*</(?i:style)\\s*>"

".source.odin-ehr":
	editor:
		commentStart: "-- "

".source.openbsd-pkg.contents":
	editor:
		commentStart: "@comment "
