// Tweaks for scope colours which look like crap in certain themes

.theme-seti-syntax{
	.syntax--constant.syntax--other.syntax--media-type{
		.syntax--entity.syntax--name.syntax--type{
			color: #cbcb41;
		}
		.syntax--punctuation.syntax--separator.syntax--media-type{
			color: #cbcb41;
			opacity: 0.55;
		}
	}
	.syntax--entity.syntax--file.syntax--name.syntax--gitignore{
		color: #9ac4d7;
	}
	.syntax--source.syntax--bc{
		.syntax--variable.syntax--language.syntax--bc{
			color: #a074c4;
		}
		.syntax--punctuation.syntax--definition.syntax--variable.syntax--array{
			color: #4d5a5e;
		}
	}
	.syntax--string.syntax--quoted.syntax--brackets.syntax--dc{
		color: #9ac4d7;
	}
	.syntax--variable.syntax--parameter.syntax--attribute.syntax--gitattributes{
		color: #8dc149;
	}
	.syntax--meta.syntax--nanorc{
		&.syntax--start-pattern,
		&.syntax--end-pattern{
			.syntax--variable.syntax--parameter{
				color: #8dc149;
			}
		}
	}
	.syntax--entity.syntax--name.syntax--tag.syntax--key.syntax--nanorc{
		color: #8dc149;
		> .syntax--punctuation{
			color: #517227;
		}
	}
	.syntax--entity.syntax--name.syntax--type.syntax--futhark{
		color: #cbcb41;
	}
	.syntax--source.syntax--ssh-config{
		.syntax--constant.syntax--none{
			color: #a074c4;
		}
	}
	.syntax--source.syntax--gitconfig{
		.syntax--string.syntax--other.syntax--link.syntax--gitconfig,
		.syntax--entity.syntax--subsection.syntax--name{
			color: #9ac4d7;
		}
		.syntax--punctuation.syntax--definition.syntax--subsection{
			color: #9ac4d7;
		}
		.syntax--string.syntax--pathspec,
		.syntax--meta.syntax--condition .syntax--string.syntax--other{
			&.syntax--file.syntax--name,
			&.syntax--link{
				color: #a074c4;
			}
		}
	}
	.syntax--text.syntax--savane{
		.syntax--storage.syntax--type{
			color: #cbcb41;
		}
	}
	.syntax--source.syntax--star{
		.syntax--entity.syntax--name.syntax--tag{
			color: #cbcb41;
		}
		.syntax--storage.syntax--type{
			color: #8dc149;
		}
		.syntax--punctuation.syntax--definition.syntax--variable,
		.syntax--keyword.syntax--operator.syntax--section{
			color: #4d5a5e;
		}
	}
	.syntax--ecmarkup{
		&.syntax--markup.syntax--raw{
			background-color: #1c2326;
			color: #cc3e44;
		}
		&.syntax--punctuation.syntax--definition.syntax--variable{
			color: #4d5a5e;
		}
	}
	.syntax--source.syntax--man-conf{
		.syntax--meta.syntax--field > .syntax--storage{
			color: #cc3e44;
		}
		.syntax--entity.syntax--name.syntax--section{
			color: #7494a3;
		}
	}
	.syntax--source.syntax--hosts{
		.syntax--storage.syntax--type.syntax--class{
			color: #cc3e44;
		}
		.syntax--entity.syntax--name.syntax--tag{
			color: #8dc149;
		}
	}
	.syntax--source.syntax--c.syntax--calendar{
		.syntax--entity.syntax--name.syntax--locale.syntax--calendar{
			color: #a074c4;
		}
	}
	atom-text-editor[data-grammar="text youtube"]{
		.syntax--markup{
			&.syntax--italic,
			&.syntax--bold{
				color: #cbcb41;
			}
			&.syntax--deleted{
				color: #cc3e44;
				text-decoration: line-through;
			}
			> .syntax--punctuation.syntax--definition.syntax--markup{
				color: #4d5a5e;
			}
		}
	}
}


// Grammar-specific tweaks

.syntax--dosbox-conf{
	.syntax--punctuation.syntax--separator.syntax--key-value{
		opacity: 0.5;
	}
}

.syntax--hosts.syntax--dod{
	.syntax--punctuation.syntax--delimiter.syntax--separator.syntax--colon{
		font-variant-ligatures: none;
	}
}

.syntax--openbsd-pkg{
	.syntax--punctuation.syntax--separator.syntax--comma{
		color: initial;
	}
}


// Fix for language-awk's debug highlighting
.syntax--wgetrc{
	.syntax--meta.syntax--debug{
		background: none !important;
		border: 0 !important;
		border-radius: 0;
		padding: 0 !important;
	}
}
