// Tweaks for scope colours which look like crap in certain themes

.theme-seti-syntax{
	.syntax--entity.syntax--file.syntax--name.syntax--gitignore{
		color: #9ac4d7;
	}
	.syntax--variable.syntax--parameter.syntax--attribute.syntax--gitattributes{
		color: #8dc149;
	}
	.syntax--meta.syntax--nanorc{
		&.syntax--start-pattern,
		&.syntax--end-pattern{
			.syntax--variable.syntax--parameter{
				color: #8dc149;
			}
		}
	}
}


// Grammar-specific tweaks

.syntax--dosbox-conf{
	.syntax--punctuation.syntax--separator.syntax--key-value{
		opacity: 0.5;
	}
}

.syntax--openbsd-pkg{
	.syntax--punctuation.syntax--separator.syntax--comma{
		color: initial;
	}
}


// RFC 5228 specific hacks
[data-active-item-path$="/rfc5228.txt"] atom-text-editor{
	.syntax--text.syntax--plain{
		opacity: 0.2;
	}
}


// Fix for language-awk's debug highlighting
.syntax--wgetrc{
	.syntax--meta.syntax--debug{
		background: none !important;
		border: 0 !important;
		border-radius: 0;
		padding: 0 !important;
	}
}
